.sidebar{
  height: 100%;
  width: 17vw;
  background-color: antiquewhite;
  position: fixed;
  padding: 10px 15px 70px 15px;
  overflow: auto;
}

.closeSession {
  position: fixed;
  bottom: 4vh;
  padding: 3px;
  width: 14.3vw;
  border: 0;
  border-radius: 6px;
  height: 3.5vh;
  background-color: white;
  color: black;
}

.closeSession:hover {
  background-color: wheat;
  cursor: pointer;
}

.body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh;
}

.bottombar {
  display: flex;
  position: fixed;
  bottom: 0px;
  right: 20px;
  left: 3vw;
  width: fit-content;
  margin: 0;
  padding: 10px 0 20px 1%;
}

.topbar {
  display: flex;
  position: absolute;
  top: 0px;
  left: 84.3%;
  width: fit-content;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

.login {
  display: block;
  text-align: left;
  margin: auto;
  align-items: baseline;
  background-color: rgb(33, 139, 23);
  /* background-color: rgb(146, 28, 214); */
  padding: 7vh 3vw 7vh 3vw;
  border-radius: 25px;
  -webkit-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  -moz-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
}

.login h2 {
  font-size: 38px;
  margin: 5px 0 5px 0;
}

.login h3 {
  font-size: 24px;
  margin: 10px 0 10px 0;
}

.login button {
  width: 10vw;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
}

.login button:hover {
  background-color: black;
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.login div {
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: space-between;
  width: 24vw;
}

.bodyLogin {
  display: flex;
  height: 100vh;
}

.bodyPersonaje {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.div{
  display: inline-flex;
  column-gap: 5vw;
}

.bodySelectProfesor {
  display: flex;
  height: 100vh;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(1px);
  padding: 0 26vw 0 26vw;
}

.bodySelectProfesor button {
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
  border-radius: 50%;
  border: 0;
}

.bodySelectProfesor button:hover {
  /* background-color: ; */
  opacity: 70%;
}

.selectProfesor {
  display: block;
  text-align: left;
  margin: auto;
  align-items: baseline;
  background-color: rgb(33, 139, 23);
  width: 40vw;
  max-width: 600px;
  /* max-height: 65vh; */
  /* background-color: rgb(146, 28, 214); */
  padding: 5vh 3vw 5vh 3vw;
  border-radius: 25px;
  -webkit-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  -moz-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
}

.selectProfesor button {
  width: 10vw;
  height: 30px;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
  margin: auto;
}

.selectProfesor button:hover {
  background-color: black;
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.selectProfesor h2 {
  font-size: 30px;
  margin: 10px 0 15px 0;
}

.selectProfesorDiv {
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: space-between;
  width: 24vw;
}

.profesor {
  width: 5vw;
  height: 12.5vh;
  position: absolute;
  left: 10px;
  top: 5px;
  transition: 0.2s ease-out
}

.selectPlayer {
  display: block;
  text-align: left;
  margin: auto;
  align-items: baseline;
  background-color: rgb(33, 139, 23);
  /* background-color: rgb(146, 28, 214); */
  padding: 7vh 3vw 7vh 3vw;
  border-radius: 25px;
  -webkit-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  -moz-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
}

.selectPlayer h2 {
  font-size: 30px;
  margin: 5px 0 5px 0;
  text-align: center;
}

.selectPlayer button {
  width: 10vw;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
}

.selectPlayer button:hover {
  background-color: black;
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.selectPlayer div {
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: space-between;
  width: 24vw;
}

.bodySelectPlayer {
  display: flex;
  height: 100vh;
}

.alumno {
  width: 5vw;
  height: 12.5vh;
  position: absolute;
  left: 96%;
  top: 89%;
  transition: 0.2s ease-out
}

.textosLogin {
  font-size: 70px;
}

.finalGameBody {
  display: flex;
  height: 100vh;
}

.finalGame {
  display: block;
  text-align: left;
  position: absolute;
  left: 38.1%;
  top: 29.5%;
  align-items: baseline;
  background-color: rgb(33, 139, 23);
  /* background-color: rgb(146, 28, 214); */
  padding: 7vh 3vw 7vh 3vw;
  border-radius: 25px;
  -webkit-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  -moz-box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  box-shadow: -2px 6px 60px 15px rgba(0,0,0,0.7);
  text-align: center;
}

.finalGame ul {
  text-align: left;
  margin-left: 30%;
  font-size: 18px;
}

.finalGame button {
  width: 8vw;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(219, 219, 219);
  padding: 5px;
  margin: auto;
}

.finalGame button:hover {
  background-color: black;
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.finalGame div {
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: space-between;
  width: 18vw;
}